In [ ]:
#import the packages

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [15]:
pd.set_option('display.max_columns',None)

#read the file (MoviesOnStreamingPlatforms_updated)

In [16]:
dt=pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")

#display the number of rows

In [17]:
len(dt)

16744

#display the number of rows and columns

In [18]:
dt.shape

(16744, 17)

#display the datatype of data

In [19]:
dt.dtypes

Unnamed: 0           int64
ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney               int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [7]:
#display the first five rows

In [20]:
dt.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

#display the last five rows

In [42]:
dt.tail()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney,Type,Directors,Genres,Country,Language,Runtime
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

#display all the information

In [22]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney           16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

#check for any duplicates value

In [10]:
dt.duplicated().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
16739    False
16740    False
16741    False
16742    False
16743    False
Length: 16744, dtype: bool>

In [11]:
duplicate=dt[dt.duplicated()]
duplicate

Empty DataFrame
Columns: [Unnamed: 0, ID, Title, Year, Age, IMDb, Rotten Tomatoes, Netflix, Hulu, Prime Video, Disney, Type, Directors, Genres, Country, Language, Runtime]
Index: []

In [12]:
dt_New=pd.DataFrame.drop_duplicates(dt)

In [13]:
dt_New.duplicated().sum()

0

#check for all null vlaues

In [14]:
dt.isnull().sum()

Unnamed: 0             0
ID                     0
Title                  0
Year                   0
Age                 9390
IMDb                 571
Rotten Tomatoes    11586
Netflix                0
Hulu                   0
Prime Video            0
Disney                 0
Type                   0
Directors            726
Genres               275
Country              435
Language             599
Runtime              592
dtype: int64

#Analysis of numeric columns only

In [15]:
dt.describe()

,Unnamed: 0,ID,Year,IMDb,Netflix,Hulu,Prime Video,Disney,Type,Runtime
count,16744.000000,16744.000000,16744.000000,16173.000000,16744.000000,16744.000000,16744.000000,16744.000000,16744.0,16152.000000
mean,8371.500000,8372.500000,2003.014035,5.902751,0.212613,0.053930,0.737817,0.033684,0.0,93.413447
std,4833.720789,4833.720789,20.674321,1.347867,0.409169,0.225886,0.439835,0.180419,0.0,28.219222
min,0.000000,1.000000,1902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000
25%,4185.750000,4186.750000,2000.000000,5.100000,0.000000,0.000000,0.000000,0.000000,0.0,82.000000
50%,8371.500000,8372.500000,2012.000000,6.100000,0.000000,0.000000,1.000000,0.000000,0.0,92.000000
75%,12557.250000,12558.250000,2016.000000,6.900000,0.000000,0.000000,1.000000,0.000000,0.0,104.000000
max,16743.000000,16744.000000,2020.000000,9.300000,1.000000,1.000000,1.000000,1.000000,0.0,1256.000000

In [16]:
dt.describe(include=np.object)

,Title,Age,Rotten Tomatoes,Directors,Genres,Country,Language
count,16744,7354,5158,16018,16469,16309,16145
unique,16744,5,99,11338,1909,1303,1102
top,The Salt of Life,18,100%,Jay Chapman,Drama,United States,English
freq,1,3474,407,36,1341,8776,10955

#count the value of Type

In [17]:
dt["Type"].value_counts()

0    16744
Name: Type, dtype: int64

#Availability of movies on Netflix

In [18]:
dt["Netflix"].value_counts()

0    13184
1     3560
Name: Netflix, dtype: int64

#Availability of movies on Hulu

In [19]:
dt["Hulu"].value_counts()

0    15841
1      903
Name: Hulu, dtype: int64

#Availability of movies on Prime Video

In [20]:
dt["Prime Video"].value_counts()

1    12354
0     4390
Name: Prime Video, dtype: int64

#Availability of movies on Disney+Hotstar

In [21]:
dt["Disney"].value_counts()

0    16180
1      564
Name: Disney, dtype: int64

#Drop the column(Rotten Tomatoes)

In [45]:
data=dt.drop(['Rotten Tomatoes'],axis=1)

In [46]:
data

,Unnamed: 0,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7,4.7,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16744 non-null  int64
 1   ID           16744 non-null  int64
 2   Title        16744 non-null  object
 3   Year         16744 non-null  int64
 4   Age          7354 non-null   object
 5   IMDb         16173 non-null  float64
 6   Netflix      16744 non-null  int64
 7   Hulu         16744 non-null  int64
 8   Prime Video  16744 non-null  int64
 9   Disney       16744 non-null  int64
 10  Type         16744 non-null  int64
 11  Directors    16018 non-null  object
 12  Genres       16469 non-null  object
 13  Country      16309 non-null  object
 14  Language     16145 non-null  object
 15  Runtime      16152 non-null  float64
dtypes: float64(2), int64(8), object(6)
memory usage: 2.0+ MB

#find a correlation of all columns in the data frame.

In [52]:
data.corr()

,Unnamed: 0,ID,Year,IMDb,Netflix,Hulu,Prime Video,Disney,Type,Runtime
Unnamed: 0,1.000000,1.000000,-0.254391,-0.399953,-0.708680,-0.219737,0.554120,0.287011,NaN,-0.206003
ID,1.000000,1.000000,-0.254391,-0.399953,-0.708680,-0.219737,0.554120,0.287011,NaN,-0.206003
Year,-0.254391,-0.254391,1.000000,-0.021181,0.258533,0.098009,-0.253377,-0.046819,NaN,0.081984
IMDb,-0.399953,-0.399953,-0.021181,1.000000,0.135105,0.042191,-0.163447,0.075895,NaN,0.088987
Netflix,-0.708680,-0.708680,0.258533,0.135105,1.000000,-0.107911,-0.757215,-0.088927,NaN,0.099526
Hulu,-0.219737,-0.219737,0.098009,0.042191,-0.107911,1.000000,-0.255641,-0.034317,NaN,0.033985
Prime Video,0.554120,0.554120,-0.253377,-0.163447,-0.757215,-0.255641,1.000000,-0.298900,NaN,-0.067378
Disney,0.287011,0.287011,-0.046819,0.075895,-0.088927,-0.034317,-0.298900,1.000000,NaN,-0.019976
Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Runtime,-0.206003,-0.206003,0.081984,0.088987,0.099526,0.033985,-0.067378,-0.019976,NaN,1.000000

In [ ]:
#Looking at the Age column

In [54]:
data['Age']

0         13
1         18
2         13
3          7
4         18
        ...
16739    NaN
16740      7
16741    NaN
16742    NaN
16743    NaN
Name: Age, Length: 16744, dtype: object

#Counts the values of Age.

In [49]:
data["Age"].value_counts()

18     3474
7      1462
13     1255
all     843
16      320
Name: Age, dtype: int64

In [ ]:
#checking the null value of Age

In [55]:
 data['Age'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
16739     True
16740    False
16741     True
16742     True
16743     True
Name: Age, Length: 16744, dtype: bool

In [50]:
data['Age'].isnull().values.any()

True

In [53]:
data['Age'].isnull().sum()

9390

In [58]:
values = data.values
data

,Unnamed: 0,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7,4.7,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [59]:
data.Age.head(20)

0     13
1     18
2     13
3      7
4     18
5      7
6     18
7     18
8      7
9     18
10    18
11    13
12    18
13    18
14     7
15    13
16    13
17     7
18    18
19    18
Name: Age, dtype: object

In [60]:
data.Age.count()

7354

In [ ]:
#find the mode of the Column Age

In [61]:
data.Age.mode()

0    18
dtype: object

#Replacing Age=NaN by 18

In [63]:
data['Age']=data['Age'].replace(np.nan,18)
data.Age.tail()

16739    18
16740     7
16741    18
16742    18
16743    18
Name: Age, dtype: object

In [64]:
data.tail()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney,Type,Directors,Genres,Country,Language,Runtime
16739,16739,16740,The Ghosts of Buxley Hall,1980,18,6.2,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7,4.7,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,18,5.7,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,18,6.6,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,18,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0